$large_desktop: 1440px;
$small_desktop: 1280px;

$large_tablet: 1024px;
$small_tablet: 768px;

$large_mobile: 580px;
$small_mobile: 400px;

/*@include max-screen($small_tablet) {
    .header {
        &__desc {
            display: none;
        }
    }
}

@include max-screen($large_mobile) {
    .header {
        justify-content: center;
    }
}*/