extends ../layouts/base

append vars
	- title = 'Главная'

block content
	include ../layouts/main
	include ../layouts/model
	include ../layouts/sertificate
	include ../layouts/catalog
	include ../layouts/system
	include ../layouts/docs
	include ../layouts/garant
	include ../layouts/review
	include ../layouts/office
	include ../layouts/quiz
	include ../layouts/cart
	include ../layouts/popup