+b.cart.modals.mfp-hide#catalog
	+e.H2.title Популярные модели
	+e.category-list
		+e.category-item#modern
			+e.slider.owl-carousel.js-popup-slider
				+e.row
					+e.preview
						+e.preview-img
							img(src="/img/catalog__img1.png")
						+e.preview-img
							img(src="/img/catalog__img2.png")
						+e.preview-img
							img(src="/img/catalog__img3.png")
						+e.preview-img
							img(src="/img/catalog__img4.png")
						+e.preview-img
							img(src="/img/catalog__img5.png")
						+e.preview-img
							img(src="/img/catalog__img6.png")
					+e.option-list
						+e.option-item
							+e.option-title
								strong Стекло
							+e.option-desc Белый триплекс
						+e.option-item
							+e.option-title
								strong Выбрать цвет
							+e.option-desc.js-color-name Не выбрано
							+e.color-list
								+e.color-item.js-color.active(style="background:#D0CAC3",data-color-name="Капучино мелинга")
								+e.color-item.js-color(style="background:#644332",data-color-name="Цвет2")
								+e.color-item.js-color(style="background:#5C5753",data-color-name="Цвет3")
								+e.color-item.js-color(style="background:#3F3432",data-color-name="Цвет4")
								+e.color-item.js-color(style="background:#827C76",data-color-name="Цвет5")
								+e.color-item.js-color(style="background:#D2C9C3",data-color-name="Цвет6")
						+e.option-item
							+e.option-price.h3
								strong 12 700 руб.
							+e.option-desc.p Комплект: полотно, короб, наличники и фурнитура.
					+e.info
						+e.nav
							+e.A.nav-item.active(href="#modern") Модерн
							+e.A.nav-item(href="#classic") Классика
						+e.name
							strong Модель 19X
						+e.content.content.color_grey
							p Серия Х представлена царговыми дверьми в лаконичном стиле. Преимущество коллекции в прочной сборно-разборной конструкции.
							p Двери выполнены в покрытии с точной имитацией среза натуральной древесины.
						+b.FORM.form.cart__form(action="#",data-thancks-name="#thanks2")
							+e.INPUT(type="hidden",name="subj",value="Покупка двери")
							+e.INPUT(type="hidden",name="color",value="")
							+e.field
								+e.LABEL.label.p.color_grey Ваш номер телефона 
								+e.INPUT.input(placeholder="+7 (000) 000-00-00",type="tel",name="phone")
							+e.A.BUTTON.btn.btn(type="submit",name='buy') Вызвать заемщика
								.btn__icon
									+icon('arrow', '0 0 10 16')
				+e.row
					+e.preview
						+e.preview-img
							img(src="/img/catalog__img6.png")
						+e.preview-img
							img(src="/img/catalog__img2.png")
						+e.preview-img
							img(src="/img/catalog__img3.png")
						+e.preview-img
							img(src="/img/catalog__img4.png")
						+e.preview-img
							img(src="/img/catalog__img5.png")
						+e.preview-img
							img(src="/img/catalog__img1.png")
					+e.option-list
						+e.option-item
							+e.option-title
								strong Стекло
							+e.option-desc Белый триплекс
						+e.option-item
							+e.option-title
								strong Выбрать цвет
							+e.option-desc.js-color-name Не выбрано
							+e.color-list
								+e.color-item.js-color.active(style="background:#D0CAC3",data-color-name="Капучино мелинга")
								+e.color-item.js-color(style="background:#644332",data-color-name="Цвет2")
								+e.color-item.js-color(style="background:#5C5753",data-color-name="Цвет3")
								+e.color-item.js-color(style="background:#3F3432",data-color-name="Цвет4")
								+e.color-item.js-color(style="background:#827C76",data-color-name="Цвет5")
								+e.color-item.js-color(style="background:#D2C9C3",data-color-name="Цвет6")
						+e.option-item
							+e.option-price.h3
								strong 12 750 руб.
							+e.option-desc.p Комплект: полотно, короб, наличники и фурнитура.
					+e.info
						+e.nav
							+e.A.nav-item.active(href="#modern") Модерн
							+e.A.nav-item(href="#classic") Классика
						+e.name
							strong Модель 129X
						+e.content.content.color_grey
							p Серия Х представлена царговыми дверьми в лаконичном стиле. Преимущество коллекции в прочной сборно-разборной конструкции.
							p Двери выполнены в покрытии с точной имитацией среза натуральной древесины.
						+b.FORM.form.cart__form(action="#",data-thancks-name="#thanks2")
							+e.INPUT(type="hidden",name="subj",value="Покупка двери")
							+e.INPUT(type="hidden",name="color",value="")
							+e.field
								+e.LABEL.label.p.color_grey Ваш номер телефона 
								+e.INPUT.input(placeholder="+7 (000) 000-00-00",type="tel",name="phone")
							+e.A.BUTTON.btn.btn(type="submit",name='buy') Вызвать заемщика
								.btn__icon
									+icon('arrow', '0 0 10 16')
		+e.category-item#classic
			+e.slider.owl-carousel.js-popup-slider
				+e.row
					+e.preview
						+e.preview-img
							img(src="/img/catalog__img1.png")
						+e.preview-img
							img(src="/img/catalog__img2.png")
						+e.preview-img
							img(src="/img/catalog__img3.png")
						+e.preview-img
							img(src="/img/catalog__img4.png")
						+e.preview-img
							img(src="/img/catalog__img5.png")
						+e.preview-img
							img(src="/img/catalog__img6.png")
					+e.option-list
						+e.option-item
							+e.option-title
								strong Стекло
							+e.option-desc Белый триплекс
						+e.option-item
							+e.option-title
								strong Выбрать цвет
							+e.option-desc.js-color-name Не выбрано
							+e.color-list
								+e.color-item.js-color.active(style="background:#D0CAC3",data-color-name="Капучино мелинга")
								+e.color-item.js-color(style="background:#644332",data-color-name="Цвет2")
								+e.color-item.js-color(style="background:#5C5753",data-color-name="Цвет3")
								+e.color-item.js-color(style="background:#3F3432",data-color-name="Цвет4")
								+e.color-item.js-color(style="background:#827C76",data-color-name="Цвет5")
								+e.color-item.js-color(style="background:#D2C9C3",data-color-name="Цвет6")
						+e.option-item
							+e.option-price.h3
								strong 12 700 руб.
							+e.option-desc.p Комплект: полотно, короб, наличники и фурнитура.
					+e.info
						+e.nav
							+e.A.nav-item.active(href="#modern") Модерн
							+e.A.nav-item(href="#classic") Классика
						+e.name
							strong Модель 19X
						+e.content.content.color_grey
							p Серия Х представлена царговыми дверьми в лаконичном стиле. Преимущество коллекции в прочной сборно-разборной конструкции.
							p Двери выполнены в покрытии с точной имитацией среза натуральной древесины.
						+b.FORM.form.cart__form(action="#",data-thancks-name="#thanks2")
							+e.INPUT(type="hidden",name="subj",value="Покупка двери")
							+e.INPUT(type="hidden",name="color",value="")
							+e.field
								+e.LABEL.label.p.color_grey Ваш номер телефона 
								+e.INPUT.input(placeholder="+7 (000) 000-00-00",type="tel",name="phone")
							+e.A.BUTTON.btn.btn(type="submit",name='buy') Вызвать заемщика
								.btn__icon
									+icon('arrow', '0 0 10 16')
				+e.row
					+e.preview
						+e.preview-img
							img(src="/img/catalog__img6.png")
						+e.preview-img
							img(src="/img/catalog__img2.png")
						+e.preview-img
							img(src="/img/catalog__img3.png")
						+e.preview-img
							img(src="/img/catalog__img4.png")
						+e.preview-img
							img(src="/img/catalog__img5.png")
						+e.preview-img
							img(src="/img/catalog__img1.png")
					+e.option-list
						+e.option-item
							+e.option-title
								strong Стекло
							+e.option-desc Белый триплекс
						+e.option-item
							+e.option-title
								strong Выбрать цвет
							+e.option-desc.js-color-name Не выбрано
							+e.color-list
								+e.color-item.js-color.active(style="background:#D0CAC3",data-color-name="Капучино мелинга")
								+e.color-item.js-color(style="background:#644332",data-color-name="Цвет2")
								+e.color-item.js-color(style="background:#5C5753",data-color-name="Цвет3")
								+e.color-item.js-color(style="background:#3F3432",data-color-name="Цвет4")
								+e.color-item.js-color(style="background:#827C76",data-color-name="Цвет5")
								+e.color-item.js-color(style="background:#D2C9C3",data-color-name="Цвет6")
						+e.option-item
							+e.option-price.h3
								strong 12 750 руб.
							+e.option-desc.p Комплект: полотно, короб, наличники и фурнитура.
					+e.info
						+e.nav
							+e.A.nav-item.active(href="#modern") Модерн
							+e.A.nav-item(href="#classic") Классика
						+e.name
							strong Модель 129X
						+e.content.content.color_grey
							p Серия Х представлена царговыми дверьми в лаконичном стиле. Преимущество коллекции в прочной сборно-разборной конструкции.
							p Двери выполнены в покрытии с точной имитацией среза натуральной древесины.
						+b.FORM.form.cart__form(action="#",data-thancks-name="#thanks2")
							+e.INPUT(type="hidden",name="subj",value="Покупка двери")
							+e.INPUT(type="hidden",name="color",value="")
							+e.field
								+e.LABEL.label.p.color_grey Ваш номер телефона 
								+e.INPUT.input(placeholder="+7 (000) 000-00-00",type="tel",name="phone")
							+e.A.BUTTON.btn.btn(type="submit",name='buy') Вызвать заемщика
								.btn__icon
									+icon('arrow', '0 0 10 16')