+b.catalog
	+e.wrap.wrap
		+e.H2.title.h2 Популярные модели
		+e.section
			+e.head.flex
				+e.H3.head-title.h3 Модерн
			+e.slider-wrap
				+e.slider.owl-carousel.js-catalog
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/system1_1.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img2.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img3.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img4.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img1.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img2.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img3.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.A.item.product.js-modal(href="#catalog",data-category="#modern")
						.product__img
							img(src="/img/catalog__img4.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
		+e.section
			+e.head.flex
				+e.H3.head-title.h3 Классика
			+e.slider-wrap
				+e.slider.owl-carousel.js-catalog
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img5.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img6.png")
						.product__bottom
							.product__name U_2_CLASSIC
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img7.png")
						.product__bottom
							.product__name U_94_CLASSIC
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img8.png")
						.product__bottom
							.product__name X_1_CLASSIC
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img5.png")
						.product__bottom
							.product__name 1E
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img6.png")
						.product__bottom
							.product__name U_2_CLASSIC
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img7.png")
						.product__bottom
							.product__name U_94_CLASSIC
							.product__price 12 700 ₽
					+e.item.product.js-modal(href="#catalog",data-category="#classic")
						.product__img
							img(src="/img/catalog__img8.png")
						.product__bottom
							.product__name X_1_CLASSIC
							.product__price 12 700 ₽