+b.docs
	+e.wrap.wrap
		+e.row.flex_justify
			+e.content
				+e.H2.title.h2
					| Получите полный каталог дверей ProfilDoors
				+e.desc.desc.color_grey
					| В каталоге 500+ межкомнатных и входных 
					br
					| дверей, фурнитура, системы открывания.
				+e.A.btn.btn.js-modal(href="#docs") Получить каталог
					.btn__icon
						+icon('arrow', '0 0 10 16')
			+e.catalog
				+e.IMG.img(src="/img/Magazine2.png")
				+e.A.pdf.pdf.js-modal(href="#docs")
					img.pdf__icon(src="/img/pdf.png")
					img.pdf__icon.pdf__icon_hover(src="/img/pdf_hover.png")
					.pdf__size
						strong 25 МБ