+b.garant
	+e.wrap.wrap
		+e.row.flex_justify
			+e.H2.title.h2
				| Даём двойную гарантию
			+e.item
				+e.head
					+e.item-icon._garant
						+icon('guarantee','0 0 100 100')
					+e.H3.item-title.h3
						| Гарантия на двери 
						br
						| и фурнитуру
				+e.P.item-desc.p
					| Фабрика контролирует качество на этапах от поставки материалов до отгрузки готовых комплектов. 
					br
					| И в течение года гарантирует замену дверей в случае брака.  
			+e.item
				+e.head
					+e.item-icon._tools
						+icon('tools','0 0 90 90')
					+e.H3.item-title.h3
						| Год гарантии 
						br
						| на монтаж
				+e.P.item-desc.p
					| Наши монтажники 5 лет работают только с дверьми ProfilDoors 
					br
					| и не боятся гарантировать качество монтажа. Исправим любые недочёты за наш счёт.  