+b.model#model
    +e.wrap.wrap
        +e.rect
            +e.content
                +e.percent 70%
                +e.H2.title.h2 моделей уже на складе
                +e.desc.desc.color_grey Поставляются в течении 5 дней
            +e.A.thumb.js-img-zoom(href="app/img/model__img_big.jpg")
                img(src='/img/model__thumb.png')