+b.office
	+e.wrap.wrap
		+e.row.flex_justify
			+e.left-column
				+e.H2.title.h2
					| Посетите наши салоны 
					br
					| в Санкт-Петербурге
			+e.right-column
				+e.nav
					+e.A.nav-item.active(href="#south") Южный молл
					+e.A.nav-item(href="#north") Северный Молл
		+e.list
			+e.item#south
				+e.row.flex_justify
					+e.left-column
						+e.gallery.js-office
							+e.foto
								img(src="/img/office1_1.jpg")
							+e.foto
								img(src="/img/office1_2.jpg")
							+e.foto
								img(src="/img/office1_3.jpg")
							+e.foto
								img(src="/img/office1_4.jpg")
							+e.foto
								img(src="/img/office1_5.jpg")
							+e.foto
								img(src="/img/office1_6.jpg")
					+e.right-column.__info
						+e.content
							+e.desc.desc.color_grey
								| На севере и юге города доступны два салона в 20 минутах езды. Вас ждёт кофе, уютный выставочный зал и игровая комната для детей.
							+e.desc.desc.color_grey
								| В салонах представлены 14 дверных коллекций, фурнитура и 7 систем открывания. Убедитесь лично в качестве материалов и монтажа.
						+e.bottom
							+e.desc.desc
								strong
									| Консультанты ответят на вопросы, помогут определиться с моделью двери и расскажут об уходе.
							+e.A.btn.btn.js-modal(href="#call") Получить консультацию
								.btn__icon
									+icon('arrow', '0 0 10 16')
			+e.item#north
				+e.row.flex_justify
					+e.left-column
						+e.gallery.js-office
							+e.foto
								img(src="/img/office2_1.jpg")
							+e.foto
								img(src="/img/office2_2.jpg")
							+e.foto
								img(src="/img/office2_3.jpg")
							+e.foto
								img(src="/img/office2_4.jpg")
							+e.foto
								img(src="/img/office2_5.jpg")
							+e.foto
								img(src="/img/office2_6.jpg")
							+e.foto
								img(src="/img/office2_7.jpg")
					+e.right-column.__info
						+e.content
							+e.desc.desc.color_grey
								| На севере и юге города доступны два салона в 20 минутах езды. Вас ждёт кофе, уютный выставочный зал и игровая комната для детей.
							+e.desc.desc.color_grey
								| В салонах представлены 14 дверных коллекций, фурнитура и 7 систем открывания. Убедитесь лично в качестве материалов и монтажа.
						+e.bottom
							+e.desc.desc
								strong
									| Консультанты ответят на вопросы, помогут определиться с моделью двери и расскажут об уходе.
							+e.A.btn.btn.js-modal(href="#call") Получить консультацию
								.btn__icon
									+icon('arrow', '0 0 10 16')