+b.review
	+e.wrap.wrap
		+e.slider.owl-carousel.js-review
			+e.slide
				+e.row.flex_justify
					+e.gallery-wrap
						+e.gallery.js-gallery
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
					+e.info
						+e.head
							+e.H2.title
								| Узнайте, что говорят покупатели дверей ProfilDoors
							+e.avtor
								+e.avtor-icon “
								+e.avtor-name
									strong Евгений Караникола
						+e.content.content.flex_justify
							+e.content-left
								H3.h3 Понравилось:
								p 
									| «К концу ремонта искали двери в современном стиле, которые было бы сложно повредить собаке и детям. 
								p
									| Понравилось, что помогли подобрать и не навязывали лишнего. Дверьми тоже довольны, выглядят надёжно»
							+e.content-right
								h4 Стоит улучшить:
								p Доставку можно чуть быстрее сделать
								h4 Купил:
								p 
									|3 межкомнатные двери серии E 
									br
									| с итальянской фурнитурой AGB.
						+e.bottom
							+e.A.btn.btn.js-img-zoom(href="app/img/model__img.jpg") Посмотреть отзыв
								.btn__icon
									+icon('arrow', '0 0 10 16')
							+e.owl-nav.owl-nav
								button.owl-prev.js-review-prev
									+icon("next","0 0 34 15")
								button.owl-next.js-review-next
									+icon("next","0 0 34 15")
			+e.slide
				+e.row.flex_justify
					+e.gallery-wrap
						+e.gallery.js-gallery
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
							+e.gallery-slide
								+e.thumb
									+e.IMG.img(src="/img/iphone.png")
					+e.info
						+e.head
							+e.H2.title
								| Узнайте, что говорят покупатели дверей ProfilDoors
							+e.avtor
								+e.avtor-icon “
								+e.avtor-name
									strong Михаил Оборонов
						+e.content.content.flex_justify
							+e.content-left
								H3.h3 Понравилось:
								p 
									| «К концу ремонта искали двери в современном стиле, которые было бы сложно повредить собаке и детям. 
								p
									| Понравилось, что помогли подобрать и не навязывали лишнего. Дверьми тоже довольны, выглядят надёжно»
							+e.content-right
								h4 Стоит улучшить:
								p Доставку можно чуть быстрее сделать
								h4 Купил:
								p 
									|3 межкомнатные двери серии E 
									br
									| с итальянской фурнитурой AGB.
						+e.bottom
							+e.A.btn.btn.js-img-zoom(href="app/img/model__img.jpg") Посмотреть отзыв
								.btn__icon
									+icon('arrow', '0 0 10 16')
							+e.owl-nav.owl-nav
								button.owl-prev.js-review-prev
									+icon("next","0 0 34 15")
								button.owl-next.js-review-next
									+icon("next","0 0 34 15")