+b.sertificate
	+e.wrap.wrap
		+e.row.flex_justify
			+e.left
				+e.H2.title.h2
					| Наши двери прошли 
					br
					+e.SPAN.title_grey сертификацию
				+e.gost
					+e.gost-text ГОСТ 475-78
				+e.gost-desc.p.color_grey
					| Двери прошли испытания
					br
					| и соответствуют ГОСТ-стандарту 
					br
					| прочности, шумоизоляции, 
					br
					| сопротивляемости возгоранию.
				+e.IMG.img(src="/img/sertificate.png")
			+e.right
				+e.list
					+e.item
						+e.H3.item-title.h3
							| Безопасны 
							br
							| и экологичны 
						+e.item-desc.desc
							| Дверные покрытия разработаны 
							br
							| в Германии на основе только экологически чистых материалов.
					+e.item
						+e.H3.item-title.h3
							| Сохраняют 
							br
							| внешний вид
						+e.item-desc.desc
							| Защитный слой предотвращает выцветание на солнце, истирание 
							br
							| и царапины.
					+e.item
						+e.H3.item-title.h3
							| Не боятся влаги
						+e.item-desc.desc
							| Благодаря влагостойкому покрытию двери можно устанавливать в ванной и мыть.