+b.system
	+e.wrap.wrap
		+e.H2.h2.h2 
			| Только в наших салонах 
			br
			| представлены все системы 
			br
			| открывания
		+e.desc.desc.color_grey Коллекции сочетаются с 7 системами
		+e.slider-wrap
			+e.slider.owl-carousel.js-system
				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system1_1.png")
						+e.thumb
							img(src="/img/system1_2.png")
						+e.thumb
							img(src="/img/system1_3.png")
						+e.thumb
							img(src="/img/system1_2.png")
					+e.content
						+e.H3.h3.h3 Книжка
						+e.P.p.p
							| Бесшумная система с полотном, поделённым на две доли. При открытии полотно плавным ходом складывается внутрь проёма.
				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system2_1.png")
						+e.thumb
							img(src="/img/system2_2.png")
						+e.thumb
							img(src="/img/system2_3.png")
						+e.thumb
							img(src="/img/system2_2.png")
					+e.content
						+e.H3.h3.h3 Рото
						+e.P.p.p
							| Альтернатива распашным дверям. Полотно открывается как на себя, так и от себя, прижимаясь к краю проёма. Экономит пространство в санузлах, гардеробных и узких проёмах.
				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system4_1.png")
						+e.thumb
							img(src="/img/system4_2.png")
						+e.thumb
							img(src="/img/system4_3.png")
						+e.thumb
							img(src="/img/system4_2.png")
					+e.content
						+e.H3.h3.h3 Compack
						+e.P.p.p
							| Компактная система с одним или двумя полотнами. При открытии полотно складывается к стене пополам. Экономит пространство для гардеробных комнат и узких проёмов.
				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system3_1.png")
						+e.thumb
							img(src="/img/system3_2.png")
					+e.content
						+e.H3.h3.h3 Diva Air
						+e.P.p.p
							| Бесшумная конструкция с полотном, скользящим по хромированной направляющей вдоль стены. Изготавливаются с одним либо двумя полотнами.

				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system5_1.png")
						+e.thumb
							img(src="/img/system5_2.png")
						+e.thumb
							img(src="/img/system5_3.png")
						+e.thumb
							img(src="/img/system5_2.png")
					+e.content
						+e.H3.h3.h3 Izyda
						+e.P.p.p
							| Бесшумная система с полотном, поделённым на две доли. При открытии полотно плавным ходом складывается и сдвигается в сторону.
				+e.item
					+e.preview.js-system-preview
						+e.thumb
							img(src="/img/system6_1.png")
						+e.thumb
							img(src="/img/system6_2.png")
					+e.content
						+e.H3.h3.h3 Invisible
						+e.P.p.p
							| Полотно устанавливается вровень со стеной. Без обрамления проёма наличниками. Конструкция создаёт эффект невидимой двери и расширяет пространство.